* {
  box-sizing: border-border;
  padding: 0;
  margin: 0;
}

body {
  width: 1024px;
  height: 678px;
  background-color: #e5e5e5;
  border: solid red 5px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; /*gap:25px*/
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #222222;
}

.logo {
  margin-left: 20px;
}

.menu {
  height: 100px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 13px;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 16px;
}

.container {
  width: 986px;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-left: 19px;
  gap: 5px;
  background-color: #e5e5e5;
}

.card__background {
  background-image: url(../Aula11/img/delivery.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  height: 350px;
  width: 490px;
}

.card__background h1 {
  color: #fc200c;
  font-size: 24px;
  text-align: center;
}

h2 {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
}

span {
  color: white;
}

span p {
  color: #fc200c;
  font-size: 24px;
  font-weight: bold;
}

.cardapio {
  height: 350px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.cardapio__2 {
  height: 350px;
  width: 491px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cardapio__3 {
  height: 178px;
}

span .cadapio__pizza {
  height: 28px;
  font-weight: bold;
  margin-top: 26px;
  text-align: center;
}

.cardapio__3 h2 {
  padding: 10px;
}
ol li {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.a li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 19px;
}

footer {
  width: 1024px;
  height: 150px;
  margin-top: 35px;
  background-color: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer nav {
  padding-top: 19px;
  padding-bottom: 19px;
}

footer .menu {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 74px;
  height: 112px;
  padding-top: 19px;
  color: #f3f3f3;
}

.footer__logo {
  margin-right: 0px;
}
